
<h2>Here is your grid</h2>
<h2><%= @grid.join(" ") %></h2>


<form action="score">
  <label for="question">What's your best shot ?</label>
  <input type="text" id="question" name="word" placeholder="Anticonstitutionnellement">
  <input type="hidden" id="start_time" name="start_time" value="<%= Time.now.to_i %>">
  <input type="hidden" id="grid" name="my_grid" value="<%= @grid %>">
  <input type="submit" value="Go on!">
</form>
